.main-menu .addon a {
  font-size: 16px;
  padding-right: 45px;
  line-height: 48px;
  position: relative;
  color: darkorange;
  padding-left: 48px;
  margin-left: 10px;
  background: url('//varanauskas.github.io/yzifier/assets/icon.png') no-repeat left;
}
.main-menu .addon span {
  width: auto;
  padding: 0 10px;
}

a.addon.yzify {
    color: darkorange;
}
a.addon.yzify img {
    height: 1em;
    width: auto;
}